@import 'scss/base/colors.scss';
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $color-main-background;
}

.globalPopup {
  position: fixed;
  width: 100vw;
  height: 200px;
  z-index: 800;
  background: linear-gradient(to bottom, rgba(41, 41, 41, 0.8), rgba(255, 255, 255, 0.836));

  .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 400px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-size: 14px;

    .success {
      color: $color-success;
    }

    .error {
      color: $color-error;
    }

    .message {
      flex: 1;
      width: 100%;
      color: $color-text-dark-grey;
    }

    .close {
      color: $color-text-grey;
      cursor: pointer;
    }
  }
}
