@import 'scss/base/colors';

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid $color-secondary;
  border-radius: 30px;
  color: white;

  input {
    width: 100%;
    padding: 3px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    padding-right: 20px;

    &:focus {
      outline: none;
    }
  }

  .icon {
    width: 30px;
    height: 100%;
    scale: 0.8;
    fill: white;
    padding-left: 10px;
    cursor: pointer;
  }
}
.error {
  border-color: $color-error;
}
