// theme defaults
$color-main: #104639;
$color-main-light: #e1ffe0;
$color-secondary: #caa03d;

// background colors
$color-content-background: #f5f5f5;
$color-shaded-background: #eff3f2;
$color-main-background: #f5f5f5;

$color-border: #3f4851;
$color-border-light: #d9d9d9;

$color-text-grey: #808080;

$color-transparent-black: rgba(0, 0, 0, 0.8);
$color-table-header: #f5f5f5;

$color-grey-light: #f0f0f0;
$color-grey: #a8a8a8;

$color-job: #f58fc6;
$color-job-light: #fef0f6;
$color-quote: #f9b76d;
$color-quote-light: #fef2e8;

//Text
$color-text-light: #ffffff;

$color-text-dark-grey: #1f1f1f;

//Disabled
$color-disabled-dark: #d9d9d9;
$color-disabled-light: #f5f5f5;

$color-success: #52c41a;
$color-error: #ff4d4f;
$color-required: #ff4d4f;

// Navigation
$color-nav-btn: black;

// Table
$color-list-header: #888888;

//colours
$color-black: #000000;

$color-hint: rgba(0, 0, 0, 0.5);

$color-calendar-divisor: #000000;
$color-background: #ffffff;
