$main-border-radius: 20px;
$main-container-padding: 20px;

$main-button-height: 40px;

$toolbar-height-small: 150px;

$info-selection-height: 50px;

$daily-calendar-row-height: 60px;

$daily-calendar-row-width: 15px;
$daily-calendar-title-column-height: 50px;
$daily-calendar-title-column-divisor: 3px;
