@import 'scss/base/colors.scss';
.card {
  background-color: $color-main-light;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
	max-height: 93%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

  .title {
    font-weight: 700;
    font-size: 20px;
  }

	.content {
		flex: 1;
		overflow-y: auto;
	}
}
